body {
    font-family: Hind;
    font-size: 14px;
    font-style: normal;
}

.container {
    display: flex;
}

nav {
    width: 300px;
    background: var(--9-black, #000);
}

.main-logo {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.main-logo img {
    width: 20px;
    height: auto;
}

.main-logo span {
    color: #ECEFF4;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
}

.hamburger-icon {
    margin-top: 40px;
    margin-left: 20px;
}

.nav-body {
    list-style: none;
    padding: 0px;
    margin-top: 20px;
}

.nav-body-item {
    color: var(--4-gray, #AAAEB5);
    font-weight: 600;
    line-height: 20px;
    padding: 10px 20px;
    align-items: center;
}

.active-item {
    border-left: 5px solid #00C65E;
    padding: 0px 20px 0px 15px;
    margin: 10px 0px;
}

.highlight-text {
    color: var(--1-white, #FFF);
    font-weight: 600;
    line-height: 20px;
}

.nav-body-item span {
    margin-top: 10px;
    width: 240px;
}

.icon-location {
    display: flex;
    align-items: center;
}

.add-icon {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 2px;
}

.nav-footer {
    display: flex;
    align-items: center;
    border-top: 1px solid #343538;
}

.nav-footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px 0px 20px 20px;
}

.nav-footer span {
    color: var(--4-gray, #AAAEB5);
    font-weight: 600;
    line-height: 20px;
    padding: 10px 0px 10px 20px;
    width: 180px;
}

.music-page {
    flex-grow: 1;
    background: #000;
}